# Supabase Configuration - OptmaPay Sandbox
VITE_SUPABASE_URL=https://wertmoquxdrucdbobuie.supabase.co
VITE_SUPABASE_ANON_KEY= <anon_key_do_projeto_no_supabase>

# Configuração do servidor SMTP para usar na Vercel
# Servidor SMTP (Server-side / Vercel)
SMTP_HOST=smtp_host_do_seu_provedor
SMTP_PORT=smtp_port_do_seu_provedor
SMTP_USER=seu_usuario_smtp
SMTP_PASSWORD=sua_senha_ou_api_key_smtp
SMTP_SECURE=false
SMTP_REQUIRE_TLS=true
SMTP_FROM_EMAIL=email_de_remetente@email.com.br
SMTP_FROM_NAME="OptmaPay | Banco Sandbox para Devs"

